<a class="activity-summary" href="/activities/{{id}}">
    <h3 class="activity-summary-name">{{name}}</h3>
    <span class="stars">{{popularity}} ★</span>
    <p class="activity-description">Description: {{description}}</p>
</a>