<div class="list-group">
    <h3 class="list-group-item-heading">{{activity.name}}</h3>
    <span class="stars">{{activity.stars}} ★</span>
    <p class="list-group-item-text">{{activity.description}}</p>
    <form action="/activities/{{{activity._id}}}/star" method="POST">
        <input type="submit" class="star-button" value="★ Star this activity ★">
    </form>
</div>