<div class="list-group">
    <h3 class="list-group-item-heading">{{activity.name}}</h3>
    <span class="stars">{{activity.stars}} ★</span>
    <p class="list-group-item-text">{{activity.description}}</p>
    <a class="star-button" href="/api/activity/{{{activity._id}}}/star">★ Star this activity ★</a>
</div>