<div id="login-form">
    <form action="/create" method='POST'>
        <div class="form-control">
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div class="form-control">
            <label for="cooking_time">Description:</label>
            <input type="text" name="cooking_time">
        </div>
        <div class="form-control">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>