<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="../images/image.png" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>NAME</p> <small><cite title="Source Title">PLACE, COUNTRY<i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> EMAIL
                <br
                /> <i class="glyphicon glyphicon-globe"></i> WEBPAGE
                <br /> <i class="glyphicon glyphicon-gift"></i> DATE</p>
        </div>
    </div>
</div>