<div id="registration-form">
    <div>
        <h4>Registration - New User</h4>
    </div>
    <form action="/register" method='POST'>
        <div class="form-control">
            <label for="username">Username: </label>
            <input type="text" name="username">
        </div>
        <div class="form-control">
            <label for="email">Email: </label>
            <input type="text" name="email">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <div class="form-control">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>